@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Bold.eot");
  src: url("../fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.ttf") format("truetype"), url("../fonts/Montserrat-Bold.svg#Montserrat-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Black.eot");
  src: url("../fonts/Montserrat-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Black.woff2") format("woff2"), url("../fonts/Montserrat-Black.woff") format("woff"), url("../fonts/Montserrat-Black.ttf") format("truetype"), url("../fonts/Montserrat-Black.svg#Montserrat-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-BlackItalic.eot");
  src: url("../fonts/Montserrat-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-BlackItalic.woff2") format("woff2"), url("../fonts/Montserrat-BlackItalic.woff") format("woff"), url("../fonts/Montserrat-BlackItalic.ttf") format("truetype"), url("../fonts/Montserrat-BlackItalic.svg#Montserrat-BlackItalic") format("svg");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Italic.eot");
  src: url("../fonts/Montserrat-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Italic.woff2") format("woff2"), url("../fonts/Montserrat-Italic.woff") format("woff"), url("../fonts/Montserrat-Italic.ttf") format("truetype"), url("../fonts/Montserrat-Italic.svg#Montserrat-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-ExtraBold.eot");
  src: url("../fonts/Montserrat-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"), url("../fonts/Montserrat-ExtraBold.woff") format("woff"), url("../fonts/Montserrat-ExtraBold.ttf") format("truetype"), url("../fonts/Montserrat-ExtraBold.svg#Montserrat-ExtraBold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-BoldItalic.eot");
  src: url("../fonts/Montserrat-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-BoldItalic.woff2") format("woff2"), url("../fonts/Montserrat-BoldItalic.woff") format("woff"), url("../fonts/Montserrat-BoldItalic.ttf") format("truetype"), url("../fonts/Montserrat-BoldItalic.svg#Montserrat-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-ExtraLight.eot");
  src: url("../fonts/Montserrat-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-ExtraLight.woff2") format("woff2"), url("../fonts/Montserrat-ExtraLight.woff") format("woff"), url("../fonts/Montserrat-ExtraLight.ttf") format("truetype"), url("../fonts/Montserrat-ExtraLight.svg#Montserrat-ExtraLight") format("svg");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-ExtraBoldItalic.eot");
  src: url("../fonts/Montserrat-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/Montserrat-ExtraBoldItalic.woff") format("woff"), url("../fonts/Montserrat-ExtraBoldItalic.ttf") format("truetype"), url("../fonts/Montserrat-ExtraBoldItalic.svg#Montserrat-ExtraBoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-ExtraLightItalic.eot");
  src: url("../fonts/Montserrat-ExtraLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-ExtraLightItalic.woff2") format("woff2"), url("../fonts/Montserrat-ExtraLightItalic.woff") format("woff"), url("../fonts/Montserrat-ExtraLightItalic.ttf") format("truetype"), url("../fonts/Montserrat-ExtraLightItalic.svg#Montserrat-ExtraLightItalic") format("svg");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Medium.eot");
  src: url("../fonts/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.ttf") format("truetype"), url("../fonts/Montserrat-Medium.svg#Montserrat-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-MediumItalic.eot");
  src: url("../fonts/Montserrat-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-MediumItalic.woff2") format("woff2"), url("../fonts/Montserrat-MediumItalic.woff") format("woff"), url("../fonts/Montserrat-MediumItalic.ttf") format("truetype"), url("../fonts/Montserrat-MediumItalic.svg#Montserrat-MediumItalic") format("svg");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-LightItalic.eot");
  src: url("../fonts/Montserrat-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-LightItalic.woff2") format("woff2"), url("../fonts/Montserrat-LightItalic.woff") format("woff"), url("../fonts/Montserrat-LightItalic.ttf") format("truetype"), url("../fonts/Montserrat-LightItalic.svg#Montserrat-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype"), url("../fonts/Montserrat-Regular.svg#Montserrat-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Light.eot");
  src: url("../fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Light.woff2") format("woff2"), url("../fonts/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat-Light.ttf") format("truetype"), url("../fonts/Montserrat-Light.svg#Montserrat-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-SemiBoldItalic.eot");
  src: url("../fonts/Montserrat-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-SemiBoldItalic.woff2") format("woff2"), url("../fonts/Montserrat-SemiBoldItalic.woff") format("woff"), url("../fonts/Montserrat-SemiBoldItalic.ttf") format("truetype"), url("../fonts/Montserrat-SemiBoldItalic.svg#Montserrat-SemiBoldItalic") format("svg");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Thin.eot");
  src: url("../fonts/Montserrat-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Thin.woff2") format("woff2"), url("../fonts/Montserrat-Thin.woff") format("woff"), url("../fonts/Montserrat-Thin.ttf") format("truetype"), url("../fonts/Montserrat-Thin.svg#Montserrat-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-ThinItalic.eot");
  src: url("../fonts/Montserrat-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-ThinItalic.woff2") format("woff2"), url("../fonts/Montserrat-ThinItalic.woff") format("woff"), url("../fonts/Montserrat-ThinItalic.ttf") format("truetype"), url("../fonts/Montserrat-ThinItalic.svg#Montserrat-ThinItalic") format("svg");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-SemiBold.eot");
  src: url("../fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.ttf") format("truetype"), url("../fonts/Montserrat-SemiBold.svg#Montserrat-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Antonio';
  src: url("../fonts/Antonio-Thin.eot");
  src: url("../fonts/Antonio-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Antonio-Thin.woff2") format("woff2"), url("../fonts/Antonio-Thin.woff") format("woff"), url("../fonts/Antonio-Thin.ttf") format("truetype"), url("../fonts/Antonio-Thin.svg#Antonio-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Antonio';
  src: url("../fonts/Antonio-Bold.eot");
  src: url("../fonts/Antonio-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Antonio-Bold.woff2") format("woff2"), url("../fonts/Antonio-Bold.woff") format("woff"), url("../fonts/Antonio-Bold.ttf") format("truetype"), url("../fonts/Antonio-Bold.svg#Antonio-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Antonio';
  src: url("../fonts/Antonio-SemiBold.eot");
  src: url("../fonts/Antonio-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Antonio-SemiBold.woff2") format("woff2"), url("../fonts/Antonio-SemiBold.woff") format("woff"), url("../fonts/Antonio-SemiBold.ttf") format("truetype"), url("../fonts/Antonio-SemiBold.svg#Antonio-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Antonio';
  src: url("../fonts/Antonio-Regular.eot");
  src: url("../fonts/Antonio-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Antonio-Regular.woff2") format("woff2"), url("../fonts/Antonio-Regular.woff") format("woff"), url("../fonts/Antonio-Regular.ttf") format("truetype"), url("../fonts/Antonio-Regular.svg#Antonio-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Antonio';
  src: url("../fonts/Antonio-ExtraLight.eot");
  src: url("../fonts/Antonio-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Antonio-ExtraLight.woff2") format("woff2"), url("../fonts/Antonio-ExtraLight.woff") format("woff"), url("../fonts/Antonio-ExtraLight.ttf") format("truetype"), url("../fonts/Antonio-ExtraLight.svg#Antonio-ExtraLight") format("svg");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Antonio';
  src: url("../fonts/Antonio-Medium.eot");
  src: url("../fonts/Antonio-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Antonio-Medium.woff2") format("woff2"), url("../fonts/Antonio-Medium.woff") format("woff"), url("../fonts/Antonio-Medium.ttf") format("truetype"), url("../fonts/Antonio-Medium.svg#Antonio-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Antonio';
  src: url("../fonts/Antonio-Light.eot");
  src: url("../fonts/Antonio-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Antonio-Light.woff2") format("woff2"), url("../fonts/Antonio-Light.woff") format("woff"), url("../fonts/Antonio-Light.ttf") format("truetype"), url("../fonts/Antonio-Light.svg#Antonio-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Antonio';
  src: url("../fonts/Antonio-Regular_1.eot");
  src: url("../fonts/Antonio-Regular_1.eot?#iefix") format("embedded-opentype"), url("../fonts/Antonio-Regular_1.woff2") format("woff2"), url("../fonts/Antonio-Regular_1.woff") format("woff"), url("../fonts/Antonio-Regular_1.ttf") format("truetype"), url("../fonts/Antonio-Regular_1.svg#Antonio-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter-Black.eot");
  src: url("../fonts/Inter-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter-Black.woff2") format("woff2"), url("../fonts/Inter-Black.woff") format("woff"), url("../fonts/Inter-Black.ttf") format("truetype"), url("../fonts/Inter-Black.svg#Inter-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter-Bold.eot");
  src: url("../fonts/Inter-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold.woff") format("woff"), url("../fonts/Inter-Bold.ttf") format("truetype"), url("../fonts/Inter-Bold.svg#Inter-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter-Light.eot");
  src: url("../fonts/Inter-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter-Light.woff2") format("woff2"), url("../fonts/Inter-Light.woff") format("woff"), url("../fonts/Inter-Light.ttf") format("truetype"), url("../fonts/Inter-Light.svg#Inter-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter-ExtraBold.eot");
  src: url("../fonts/Inter-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter-ExtraBold.woff2") format("woff2"), url("../fonts/Inter-ExtraBold.woff") format("woff"), url("../fonts/Inter-ExtraBold.ttf") format("truetype"), url("../fonts/Inter-ExtraBold.svg#Inter-ExtraBold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter-Medium.eot");
  src: url("../fonts/Inter-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.woff") format("woff"), url("../fonts/Inter-Medium.ttf") format("truetype"), url("../fonts/Inter-Medium.svg#Inter-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter-ExtraLight.eot");
  src: url("../fonts/Inter-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter-ExtraLight.woff2") format("woff2"), url("../fonts/Inter-ExtraLight.woff") format("woff"), url("../fonts/Inter-ExtraLight.ttf") format("truetype"), url("../fonts/Inter-ExtraLight.svg#Inter-ExtraLight") format("svg");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter-Thin.eot");
  src: url("../fonts/Inter-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter-Thin.woff2") format("woff2"), url("../fonts/Inter-Thin.woff") format("woff"), url("../fonts/Inter-Thin.ttf") format("truetype"), url("../fonts/Inter-Thin.svg#Inter-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter-Regular.eot");
  src: url("../fonts/Inter-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff"), url("../fonts/Inter-Regular.ttf") format("truetype"), url("../fonts/Inter-Regular.svg#Inter-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter-SemiBold.eot");
  src: url("../fonts/Inter-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter-SemiBold.woff2") format("woff2"), url("../fonts/Inter-SemiBold.woff") format("woff"), url("../fonts/Inter-SemiBold.ttf") format("truetype"), url("../fonts/Inter-SemiBold.svg#Inter-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

.margin-top {
  margin-top: 10px;
}

.margin-top-5 {
  margin-top: 5px;
}

.margin-top-15 {
  margin-top: 15px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-27 {
  margin-top: 27px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-top-54 {
  margin-top: 54px;
}

.margin-top-60 {
  margin-top: 60px;
}

.margin-top-65 {
  margin-top: 65px;
}

.margin-top-70 {
  margin-top: 70px;
}

.margin-top-80 {
  margin-top: 80px;
}

.margin-top-90 {
  margin-top: 90px;
}

.margin-top-99 {
  margin-top: 99px;
}

.margin-top-100 {
  margin-top: 100px;
}

.margin-top-110 {
  margin-top: 110px;
}

.margin-top-120 {
  margin-top: 120px;
}

.margin-top-140 {
  margin-top: 140px;
}

.margin-top-149 {
  margin-top: 149px;
}

.margin-top-150 {
  margin-top: 150px;
}

.margin-top-160 {
  margin-top: 160px;
}

.margin-top-200 {
  margin-top: 200px;
}

.margin-top-220 {
  margin-top: 220px;
}

.margin-top-230 {
  margin-top: 230px;
}

.margin-top-250 {
  margin-top: 250px;
}

.margin-top-330 {
  margin-top: 330px;
}

.margin-top-350 {
  margin-top: 350px;
}

.margin-top-380 {
  margin-top: 380px;
}

.margin-top-385 {
  margin-top: 385px;
}

.margin-top-390 {
  margin-top: 390px;
}

.margin-top-400 {
  margin-top: 400px;
}

.padding-off {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

p {
  margin: 0;
}

.container-off-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.row-off-margin {
  margin-left: 0px;
  margin-right: 0px;
}

.aviso {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
}

.aviso div {
  display: table;
  margin: 10% auto 0;
  width: 40%;
  background-color: #3e917a;
  border-radius: 10px;
  padding: 20px 10px;
  position: relative;
}

.aviso div .close {
  text-shadow: none;
  opacity: 1;
  position: absolute;
  right: 0;
  top: -35px;
  z-index: 999;
  color: #ffffff;
  font-size: 35px;
  line-height: 35px;
}

.aviso div p {
  font-family: 'Inter';
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 1.667;
  color: #ffffff;
  text-transform: uppercase;
}

.cookies {
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  height: 100%;
  top: 0;
  display: none;
}

.cookies .box {
  background-color: #3e917a;
  padding-top: 20px;
  padding-bottom: 20px;
  position: absolute;
  bottom: 20px;
  border-radius: 20px;
}

.cookies .box p {
  font-family: 'Inter';
  font-weight: 300;
  font-style: normal;
  color: #ffffff;
  font-size: 12px;
  line-height: 14px;
  margin-top: 7px;
}

.cookies .box p a {
  text-decoration: underline;
  color: #ffffff;
}

.cookies .box .btn_cookie {
  font-family: 'Antonio';
  font-weight: bold;
  font-style: normal;
  font-size: 19px;
  line-height: 19px;
  color: #ffffff;
  border: 0px solid transparent;
  border-radius: 50px;
  padding: 12px 30px;
  width: 160px;
  margin-top: 7px;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #f9b341;
  letter-spacing: 1px;
}

.myPopup {
  background-color: rgba(0, 0, 0, 0.5);
}

.myPopup .modal-lg {
  width: 900px;
}

.myPopup .modal-content {
  background-color: transparent;
  border: 0px solid transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.myPopup .modal-body {
  padding: 0px;
}

.myPopup .close {
  font-size: 27px;
  color: #fff;
  text-shadow: none;
  opacity: 1;
  position: absolute;
  top: -20px;
  right: -20px;
  z-index: 100;
}

@media (min-width: 768px) {
  .myPopup .modal-dialog {
    margin: 4% auto 0;
  }
}

/* Extra Small */
@media (max-width: 767px) {
  .aviso div {
    margin: 30% auto 0;
    width: 95%;
  }
  .padding-off-mobile {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .float-box {
    bottom: 30%;
  }
  .cookies .box {
    padding-top: 10px;
  }
  .cookies .box .btn_cookie {
    margin-top: 20px;
  }
  .myPopup .modal-lg {
    width: 100%;
  }
  .myPopup .modal-dialog {
    margin: 20% auto 0;
  }
  .myPopup .close {
    top: -30px;
    right: 5px;
  }
}

.menu.active {
  padding-top: 4px;
  padding-bottom: 10px;
}

.menu.active .nav > li > a {
  font-size: 12px;
  line-height: 12px;
}

.menu.active .nav > li > a::before {
  content: '';
  height: 19px;
}

.menu {
  position: fixed;
  width: 100%;
  float: left;
  top: 0px;
  left: 0;
  z-index: 600;
  background-color: #106733;
  border-color: transparent;
  border-radius: 0px;
  min-height: auto;
  margin-bottom: 0px;
  padding-top: 9px;
  padding-bottom: 15px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.menu .navbar-collapse,
.menu .navbar-form {
  border-color: transparent;
}

.menu .nav > li {
  padding: 10px 15px;
}

.menu .nav > li > a {
  font-family: 'Montserrat';
  font-weight: bold;
  font-style: normal;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  padding: 0;
}

.menu .nav > li > a::before {
  content: '';
  width: 3px;
  height: 25px;
  position: absolute;
  left: -7px;
  background-color: #f9b03c;
  top: 0;
}

.menu .navbar-nav > li > a:focus,
.menu .navbar-nav > li > a:hover {
  color: #f9b03c;
}

.menu .navbar-nav {
  float: initial;
  margin: 0 auto 0;
  display: table;
}

/* Extra Small */
@media (max-width: 767px) {
  .menu {
    top: 0;
    background-color: transparent !important;
  }
  .menu .navbar-brand {
    margin-left: 5px;
  }
  .menu .navbar-nav {
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 10px;
    padding-bottom: 15px;
    display: block;
    margin-top: 10px;
  }
  .menu .nav > li {
    padding: 15px 15px;
  }
  .menu .nav > li > a {
    font-size: 12px;
    line-height: 12px;
    padding-left: 10px;
    margin-bottom: 0px;
  }
  .menu .nav > li > a::before {
    left: 0px;
  }
  .menu .navbar-toggle {
    margin-top: 7px;
    margin-right: 18px;
    border-color: #000;
    margin-bottom: 0;
  }
  .menu .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
    border-top: 0px solid transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .menu .navbar-toggle .icon-bar {
    background-color: #000;
  }
  .menu .navbar-toggle:focus,
  .menu .navbar-toggle:hover {
    background-color: transparent;
  }
  .menu .navbar-collapse,
  .menu .navbar-form {
    border-color: transparent;
  }
}

/* Small */
@media (min-width: 768px) and (max-width: 991px) {
  .menu,
  .menu.active {
    padding-top: 2px;
    padding-bottom: 8px;
  }
  .menu .nav > li > a,
  .menu.active .nav > li > a {
    font-size: 10px;
    line-height: 10px;
  }
  .menu .nav > li > a::before,
  .menu.active .nav > li > a::before {
    content: '';
    height: 17px;
  }
}

/* Medium */
/* Large */
.projeto .galeria,
.lazer .galeria {
  margin-bottom: -6px;
}

.apartamento {
  background-color: #237e7b;
  overflow: hidden;
  padding-top: 160px;
  padding-bottom: 140px;
}

.apartamento .tt {
  position: relative;
}

.apartamento .tt p {
  font-family: 'Antonio';
  color: #f9b03c;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 50px;
  font-weight: bold;
  font-style: normal;
  text-align: right;
  position: absolute;
  left: 16%;
  top: -126px;
}

.apartamento .txt {
  position: relative;
}

.apartamento .txt p {
  font-family: 'Antonio';
  color: #ffffff;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 25px;
  font-weight: bold;
  font-style: normal;
  text-align: right;
  position: absolute;
  left: 27%;
  top: 20px;
}

.apartamento .box,
.apartamento .slick-slider {
  height: 274px;
}

.plantas {
  padding-top: 30px;
  padding-bottom: 30px;
}

.implantacao {
  padding-bottom: 30px;
}

.implantacao .faixa {
  background-color: #3c5ca7;
  padding-top: 13px;
  padding-bottom: 13px;
}

.implantacao .faixa p {
  font-family: 'Antonio';
  color: #ffffff;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 35px;
  font-weight: bold;
  font-style: normal;
}

.implantacao img {
  margin-top: 30px;
}

.localizacao .faixa {
  background-color: #106733;
  padding-top: 13px;
  padding-bottom: 13px;
}

.localizacao .faixa p {
  font-family: 'Antonio';
  color: #ffffff;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  font-style: normal;
}

/* Extra Small */
@media (max-width: 767px) {
  .apartamento {
    padding-top: 160px;
    padding-bottom: 180px;
  }
  .apartamento .tt p {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    position: relative;
    left: 0;
    top: -130px;
  }
  .apartamento .txt p {
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    position: relative;
    left: 0;
    top: 160px;
  }
  .apartamento .box,
  .apartamento .slick-slider {
    height: 114px !important;
  }
  .implantacao .faixa {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .implantacao .faixa p {
    font-size: 20px;
    line-height: 25px;
  }
  .implantacao img {
    margin-top: 30px;
  }
  .localizacao .faixa {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .localizacao .faixa p {
    font-size: 20px;
    line-height: 25px;
  }
}

/* Small */
@media (min-width: 768px) and (max-width: 991px) {
  .apartamento {
    padding-top: 160px;
    padding-bottom: 170px;
  }
  .apartamento .tt p {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    position: relative;
    left: 0;
    top: -130px;
  }
  .apartamento .txt p {
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    position: relative;
    left: 0;
    top: 150px;
  }
  .apartamento .box,
  .apartamento .slick-slider {
    height: 114px !important;
  }
}

/* Medium */
/* Large */
.contato .container {
  width: 300px;
  position: fixed;
  bottom: 20px;
  right: 0;
  z-index: 200;
}

.contato .tt {
  border-radius: 10px;
  background-color: #3e917a;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.contato .tt p {
  font-family: 'Antonio';
  font-weight: bold;
  font-style: normal;
  color: #ffffff;
  font-size: 18px;
  line-height: 25px;
}

.contato .group-form .form-group {
  padding-left: 2px;
  padding-right: 2px;
  margin-bottom: 5px;
}

.contato .group-form .form-control {
  font-family: 'Antonio';
  font-weight: normal;
  font-style: normal;
  height: 50px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #87868a;
  background-color: #ffffff;
  border: 1px solid #b1005c;
  border-radius: 5px;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-transform: uppercase;
}

.contato .group-form .form-control::-webkit-input-placeholder {
  color: #87868a;
}

.contato .group-form .form-control:-ms-input-placeholder {
  color: #87868a;
}

.contato .group-form .form-control::-ms-input-placeholder {
  color: #87868a;
}

.contato .group-form .form-control::placeholder {
  color: #87868a;
}

.contato .group-form textarea {
  height: 110px !important;
}

.contato .group-form .btn_enviar {
  width: 100%;
  font-family: 'Antonio';
  font-weight: bold;
  font-style: normal;
  padding: 10px 0px;
  margin-bottom: 0;
  font-size: 20px;
  line-height: 1.42857143;
  border: 0px solid transparent;
  border-radius: 20px;
  color: #ffffff;
  background-color: #f9b341;
  display: table;
  margin: 5px auto 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  outline: none;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.contato .group-form .btn_enviar:hover {
  background-color: #fba924;
}

.redes {
  margin: 10px auto 0;
  display: table;
}

.redes a {
  display: inline-block;
  margin: 0 10px;
}

/* Extra Small */
@media (max-width: 767px) {
  .contato {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .contato .container {
    width: 90%;
    position: relative;
    position: relative;
    right: 0;
    bottom: 0;
  }
}

/* Small */
@media (min-width: 768px) and (max-width: 991px) {
  .contato {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .contato .container {
    width: 500px;
    position: relative;
    position: relative;
    right: 0;
    bottom: 0;
  }
}

/* Medium */
@media (min-width: 992px) and (max-width: 1199px) {
  .contato .container {
    right: 0;
  }
}

/* Large */
footer {
  background-color: #106733;
  padding-top: 25px;
  padding-bottom: 25px;
}

footer .tt {
  margin-bottom: 20px;
}

footer .tt p {
  font-family: 'Antonio';
  color: #ffffff;
  text-transform: uppercase;
  font-size: 35px;
  line-height: 40px;
  font-weight: bold;
  font-style: normal;
  letter-spacing: 1px;
}

footer .texto-legal {
  margin-top: 20px;
}

footer .texto-legal p {
  font-family: 'Inter';
  font-weight: 300;
  font-style: normal;
  color: #ffffff;
  font-size: 11px;
  line-height: 14px;
  text-align: center;
}

footer .navbar-nav li {
  padding-top: 9px;
  padding-bottom: 9px;
}

footer .navbar-nav li > a {
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: 'Inter';
  font-weight: 300;
  font-style: normal;
  color: #1d1d1b;
  font-size: 10px;
  line-height: 10px;
  border-right: 1px solid #1d1d1b;
  text-transform: uppercase;
}

footer .navbar-nav li > a:focus,
footer .navbar-nav li > a:hover {
  text-decoration: underline;
  background-color: transparent;
}

footer .navbar-nav li:first-child a {
  padding-left: 0;
}

footer .navbar-nav li:last-child a {
  border-right: 0px solid transparent;
}

/* Extra Small */
@media (max-width: 767px) {
  footer {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  footer .tt p {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 10px;
  }
  footer .navbar-nav {
    margin-top: 0;
  }
  footer .navbar-nav li:first-child a {
    padding-left: 15px;
  }
}

/* Small */
/* Medium */
/* Large */
/*# sourceMappingURL=style.css.map */